*{
    margin: 0;
    padding: 0;
}
.seventh_container{
    height:590px;
    /* border: thin solid red; */
    background-color: #0a0f43;
}
.getintouch_head{
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    /* border: thin solid red; */
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    position: relative;
}
.infoitems_box{
    margin: 0 auto;
    width: 75%;
    height: 190px;
    /* border: thin solid red; */
    position: relative;
}
.icon_box1{
    width: 8%;
    height: 80px;
    margin-top:52px;
    margin-left: 146px;
    border-radius: 100%;
    /* border: thin solid red; */
    background-color: #0355cc;
    position: absolute;
    cursor: pointer;
}
.loc_icon{
    width: 40%;
    margin:25px;
}
.icon_box1:hover{
    background-color: rgb(255, 128, 0);
    color: white;
    transition-duration: 0.2s;
}
.icon_box2{
    width: 8%;
    height: 80px;
    margin-top:52px;
    margin-left: 455px;
    border-radius: 100%;
    /* border: thin solid red; */
    background-color: #0355cc;
    position: absolute;
    cursor: pointer;
}
.ph_icon{
    width: 30%;
    margin: 35%;
}
.icon_box2:hover{
    background-color: rgb(255, 128, 0);
    color: white;
    transition-duration: 0.2s;
}
.icon_box3{
    width: 8%;
    height: 80px;
    margin-top:52px;
    margin-left: 755px;
    border-radius: 100%;
    /* border: thin solid red; */
    background-color: #0355cc;
    position: absolute;
    cursor: pointer;
}
.mail_icon{
    width: 30%;
    margin: 35%;
}
.icon_box3:hover{
    background-color: rgb(255, 128, 0);
    color: white;
    transition-duration: 0.2s;
}
.loc_info{
    width: 20%;
    height: 20px;
    margin-top: 155px;
    margin-left: 85px;
    /* border: thin solid red; */
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    float: left;
}
.ph_info{
    width: 20%;
    height: 20px;
    margin-top: 155px;
    margin-left: 105px;
    /* border: thin solid red; */
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    float: left;
}
.mail_info{
    width: 20%;
    height: 20px;
    margin-top: 155px;
    margin-left: 100px;
    /* border: thin solid red; */
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    float: left;
}
.middle_line{
    width: 60%;
    /* border: thin solid red; */
    margin-top: 90px;
    margin-left: 190px;
    position: absolute;
}
.follow_section{
    margin: 0 auto;
    margin-top: 10px;
    width: 82%;
    height: 250px;
    /* border: thin solid red; */
    position: relative;
}
.Follow_head{
    margin: 0 auto;
    padding: 20px;
    width: 20%;
    /* border: thin solid red; */
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    position: relative;
}
.apps_box{
    margin: 0 auto;
    width: 14%;
    height: 37px;
    /* border: thin solid red; */
    background-color: white;
}
.middle_line1{
    width: 100%;
    /* border: thin solid red; */
    margin-top: 90px;
    margin-left: px;
    position: absolute;
}
.copyright_line{
    margin: 0 auto;
    width: 35%;
    height: 20px;

    margin-top: 110px;
    /* border: thin solid red; */
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
}
.apps_icon{
    width: 12%;
    margin: 8px;
}